{
	local_certs
	admin off
	storage file_system {
		root .caddy
	}
}

local.docs.crosshatch.dev {
	reverse_proxy https://127.0.0.1:7776 {
		header_up Host {host}
		lb_try_duration 30s
		lb_try_interval 1s
		transport http {
			tls_server_name local.docs.crosshatch.dev
		}
	}
}
